body {
    margin : 0px;
}

#webapp-admin-page > #header-bar {
    position: static;
}

.section-title {
    padding: 30px;
    font-weight: 500;
    max-width: 1200px;
    font-family: "arial";
    line-height: 1.5em;
    overflow-y: auto;
  	position: absolute;
  	top: 55px;
  	bottom: 5px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/*Header section*/
#header {
    height: 50px;
    background-color: #5B6164;
    text-align: center;
    padding-top: 10px;
}
#header span {
    color: #ffffff;
    font-size:  30px;
}

.section-title > .title {
    text-align: center;
    display: block;
    font-size: 25px;
    padding: 15px;
    font-weight: bold;
    background-color: #ECECEC;
    /*height: 20px;*/
}

.section-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #337AB7;
    color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 12px 12px 2px 12px;
    font-size: 20px;
    height: 38px;
}
.section-button:hover {
    background-color: #359ad7;
}

.b {
    font-weight: bold;
}

.button-container {
    text-align: center;
}

.bg-red {
  border: 1px solid #BD3333 !important;
}

.result > .loading,
.result > .success,
.result > .failure {
  display: none;
}
.result > .failure {
  color: #cc0000;
}
.result.loading > .loading,
.result.success > .success,
.result.failure > .failure {
  display: block;
}


.options {
  border: 1px solid #eee;
/*  border-radius: 10px;*/
}

.option {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.option:last-child{
  border-bottom: 0;
}

.option:hover{
  background-color:#F3F9FB;
}

.option.selected:hover{
  background-color: transparent;
}
.option.selected {
    border-left: 3px solid #336699;
}

.option > .preview {
  cursor: pointer;
}

.option > .preview > .title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.option:not(.selected):hover > .preview > .title {
  color: #125BA5;
}
.details {
  display: none;
}
.option.selected > .details {
  display: block;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-center {
  margin:10px 0;
  text-align: center;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-4 {
  width: 33.33333333%;
  display: inline-block;
  padding-bottom: 0.5em;
}
.col-md-2 {
  width: 16.6666666%;
  display: inline-block;
}
.col-md-8 {
  width: 66.6666666%;
  display: inline-block;
}
.text-right {
  text-align: right;
  padding-right:10px;
}

.red {
      color: #cc0000;
}

.shortdesc {
  margin-bottom: 10px;
  font-style: italic;
}


.idonthave > .ihave,
.ihave > .idonthave {
  display: none;
}

.trial-option {
  margin: 0 5px;
}
.tabs {
  margin-bottom: 10px;
  border-bottom: 1px solid #336699;
}

.trial-option {
  border: 1px solid #336699;
  padding: 3px 10px 0;
  display: inline-block;
  margin-bottom: -1px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.trial-option.option-selected {
  border-bottom-color: white;
}
.trial-option.option-not-selected {
  border-color: #c3c3c3;
  border-bottom-color: #336699;
}
.trial-option.option-not-selected:hover {
    background-color: #F3F9FB;
}

.label {
  height: 42px;
  vertical-align: bottom;

}

#email-consent {
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#email-consent > div {
  margin: 5px;
}

#email-consent input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 15px;
}
